# =========================
# Build
# =========================
bin/
obj/
out/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Rider / JetBrains
# =========================
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Publish
# =========================
publish/

# =========================
# SQLite DB
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# App secrets
# =========================
appsettings.Development.json

# =========================
# Test Results
# =========================
TestResults/

# =========================
# Coverage
# =========================
coverage/
coverage-report/

# =========================
# Docker
# =========================
docker-data/